<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>지식 ON</title>
		<link rel="stylesheet" href="/css/main.css" />
		<style>
			ul#answer_list {
				list-style: none;
				padding: 0;
				width: 100%;
			}

			.answer {
				padding: 5px;
				width: calc(90% - 10px);
			}

			article {
				width: 100%;
			}

			textarea[name="content"] {
				flex: 1;
			}

			hr {
				width: 100%;
				background-color: gray;
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="/" class="brand">지식 ON</a>
			<div>
				<a href="/write">질문하기</a>
				<a href="/account">계정</a>
			</div>
		</nav>
		<main>
			<h1><%= title %></h1>
			<article style="width: 100%; display: flex; justify-content: space-between">
				<div><b><%= writer_id %></b></div>
				<div style="color: gray"><%= write_date %></div>
			</article>
			<hr />
			<article style="margin-bottom: 20px">
				<div style="white-space: pre-wrap; word-break: break-all"><%= content %></div>
			</article>
			<h3>답변</h3>
			<article>
				<ul id="answer_list">
					<% if (answers.length > 0) { %> <% for (let answer of answers) { %>
					<li class="answer" style="margin: auto; margin-bottom: 10px; border-bottom: 1px solid var(--primary)">
						<div style="display: flex; justify-content: space-between">
							<div>
								<b><%= answer.writer_id %></b>
								<% if (chose === answer.id) { %>
								<b style="color: rgb(170, 0, 0)">질문자 채택</b>
								<% } %>
							</div>
							<div style="color: gray"><%= answer.write_date %></div>
						</div>
						<div style="white-space: pre-wrap; word-break: break-all; padding: 5px 0"><%= answer.content %></div>
						<% if (is_writer && chose === -1) { %>
						<button type="button" onclick="location.assign('/choose/<%= id %>/<%= answer.id %>')">답변 채택</button>
						<% } %>
					</li>
					<% }} else { %>
					<li style="text-align: center">답변이 없습니다.</li>
					<% } %>
				</ul>
				<form action="/answer" method="post" style="display: flex; flex-wrap: wrap">
					<textarea name="content" rows="5" required></textarea>
					<button type="submit">답변하기</button>
				</form>
			</article>
		</main>
		<footer>
			<p>Made by OhBeomho</p>
			<p>Source on <a href="https://github.com/OhBeomho/KnowledgeOn">Github</a>.</p>
		</footer>
	</body>
</html>
